@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

:root {
  --bg-blue: #362FE3;
  --bg-pink: #BF6684;
  --bg-purple: #9439E4;
  --text-color: #333;
  --highlight: #8F7BF6;
  --radius: 40px;
  --icon-size: 37px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Sans-Serif;
  color: var(--text-color);
  display: grid;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

svg {
  pointer-events: none;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 711px;
}

main {
  display: flex;
  width: auto;
  margin-top: 2em;
  height: 100%;
}

.saved {
  justify-content: space-between;
}

.pin {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  border: 2px solid #e6e6e6;
  border-radius: 15px;
  padding: 20px;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.heart label {
  box-shadow: 0px 0px 0px 0px rgba(226, 32, 44, 0.5);
}

.heart label:after {
  content: "\f004";
}

.heart input:checked+label {
  background-color: #e2202c;
  border-color: #e2202c;
  box-shadow: 0px 0px 0px 0.5em rgba(226, 32, 44, 0);
}

.heart input:checked+label:after {
  color: #e2202c;
}

.anim-icon {
  width: 1.9em;
  height: 1.9em;
  margin: 10px;
  font-size: 13px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.anim-icon input {
  display: none;
}

.anim-icon label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0.1em solid #ccc;
  border-radius: 100%;
  display: block;
  font: normal normal normal 13px/1 FontAwesome;
  color: #ccc;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.anim-icon label:after {
  left: 0;
  top: 50%;
  margin-top: -0.5em;
  display: block;
  position: relative;
  text-align: center;
}

.anim-icon input:checked+label {
  -webkit-animation: check-in 0.3s forwards;
  animation: check-in 0.3s forwards;
  transition: background-color 0.1s 0.2s, box-shadow 1s;
  border-width: 0.1em;
  border-style: solid;
}

.anim-icon input:checked+label:after {
  -webkit-animation: icon 0.3s forwards;
  animation: icon 0.3s forwards;
}

.anim-icon-md {
  font-size: 20px;
}

.anim-icon-lg {
  font-size: 30px;
}

@-webkit-keyframes icon {
  0% {
    margin-top: -0.5em;
    font-size: 1.5em;
  }

  100% {
    font-size: 1em;
    opacity: 1;
    color: white;
  }
}

@keyframes icon {
  0% {
    margin-top: -0.5em;
    font-size: 1.5em;
  }

  100% {
    font-size: 1em;
    opacity: 1;
    color: white;
  }
}

@-webkit-keyframes check-in {
  0% {
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
  }

  80% {
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
  }

  100% {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes check-in {
  0% {
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
  }

  80% {
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
  }

  100% {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes check {
  0% {
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
  }

  10% {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  80% {
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
  }

  90% {
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
  }

  100% {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes check {
  0% {
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
  }

  10% {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  80% {
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
  }

  90% {
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
  }

  100% {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

img {
  width: 460px;
  height: 460px;
  object-fit: cover;
}

.saved .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.container {
  padding: 0 30px;
  overflow-y: auto;
}

.loading {
  transition: all ease-in-out .2s;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(255, 255, 255, 0.8);
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden !important;
  touch-action: none;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

nav {
  padding: 0 20px;
  width: 500px;
  height: 100px;
  background: white;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

nav::before {
  content: "";
  width: calc(100% + 40px);
  height: calc(50vh + 160px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: calc(var(--radius) + 10px);
  position: absolute;
  bottom: -10px;
  z-index: -1;
  box-shadow: 0 0 40px #0001;
}

nav div.item label[for] {
  width: calc(var(--icon-size) + 15px);
  height: auto;
  aspect-ratio: 1/1;
  color: var(--text-color);
  cursor: pointer;
  display: grid;
  place-items: center;
  position: relative;
  transition: transform 0.3s ease-in-out, color 0.1s linear;
}

nav div.item label[for]::after {
  content: attr(data-label);
  position: absolute;
  bottom: -20px;
  text-transform: capitalize;
  font-weight: 800;
  pointer-events: none;
  opacity: 0;
  transform: translateY(50px);
}

nav div.item label[for] svg {
  width: var(--icon-size);
  height: auto;
  aspect-ratio: 1/1;
}

nav div.item input[type=radio] {
  display: none;
  pointer-events: none;
}

nav div.item input[type=radio]:checked+label {
  color: var(--highlight);
  transform: translateY(-10px);
}

nav div.item input[type=radio]:checked+label::after {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out 0.1s;
}

@-webkit-keyframes explore {
  0%,
  100% {
    transform-origin: center;
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }
}

@keyframes explore {
  0%,
  100% {
    transform-origin: center;
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }
}

input[type=radio]#explore:checked+label[for] svg path:nth-of-type(3),
input[type=radio]#explore:checked+label[for] svg path:nth-of-type(6),
input[type=radio]#explore:checked+label[for] svg path:nth-of-type(9) {
  -webkit-animation: explore 0.3s linear;
  animation: explore 0.3s linear;
}

input[type=radio]#explore:checked+label[for] svg path:nth-of-type(2),
input[type=radio]#explore:checked+label[for] svg path:nth-of-type(5),
input[type=radio]#explore:checked+label[for] svg path:nth-of-type(8) {
  -webkit-animation: explore 0.3s linear 0.1s;
  animation: explore 0.3s linear 0.1s;
}

input[type=radio]#explore:checked+label[for] svg path:nth-of-type(1),
input[type=radio]#explore:checked+label[for] svg path:nth-of-type(4),
input[type=radio]#explore:checked+label[for] svg path:nth-of-type(7) {
  -webkit-animation: explore 0.3s linear 0.2s;
  animation: explore 0.3s linear 0.2s;
}

@-webkit-keyframes cartbtn {
  0%,
  100% {
    transform-origin: center;
    transform: translateX(0);
  }

  25% {
    transform: translateX(20px);
  }

  26% {
    opacity: 0;
  }

  74% {
    opacity: 0;
  }

  75% {
    opacity: 1;
    transform: translateX(-20px);
  }
}

@keyframes cartbtn {
  0%,
  100% {
    transform-origin: center;
    transform: translateX(0);
  }

  25% {
    transform: translateX(20px);
  }

  26% {
    opacity: 0;
  }

  74% {
    opacity: 0;
  }

  75% {
    opacity: 1;
    transform: translateX(-20px);
  }
}

input[type=radio]#cartbtn:checked+label[for] svg path:nth-child(2),
input[type=radio]#cartbtn:checked+label[for] svg path:nth-child(3) {
  -webkit-animation: cartbtn 0.3s ease-out;
  animation: cartbtn 0.3s ease-out;
}

@-webkit-keyframes saved {
  0%,
  100% {
    transform-style: preserve-3d;
    transform-origin: top;
    transform: skewX(0deg);
  }

  30% {
    transform: skewX(-6deg);
  }

  70% {
    transform: skewX(2deg);
  }
}

@keyframes saved {
  0%,
  100% {
    transform-style: preserve-3d;
    transform-origin: top;
    transform: skewX(0deg);
  }

  30% {
    transform: skewX(-6deg);
  }

  70% {
    transform: skewX(2deg);
  }
}

input[type=radio]#saved:checked+label[for] svg path {
  -webkit-animation: saved 0.3s linear;
  animation: saved 0.3s linear;
}

@-webkit-keyframes profile {
  0%,
  100% {
    transform-origin: bottom;
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(-5deg);
  }

  60% {
    transform: rotate(5deg);
  }
}

@keyframes profile {
  0%,
  100% {
    transform-origin: bottom;
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(-5deg);
  }

  60% {
    transform: rotate(5deg);
  }
}

input[type=radio]#profile:checked+label[for] svg path:first-of-type {
  -webkit-animation: profile 0.3s linear;
  animation: profile 0.3s linear;
}